
body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background:#C2DFFF;
font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.list {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 8px 12px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

li:last-child {
    border-bottom: none;
}

.delete-btn {
    color: #fff;
    border: none;
    background-color: #ff4136; 
    border-radius: 5px;
    cursor: pointer;
}
